.page_transfer_pledge {
  .info_pledge_inner {
    background-color: var(--color-primary-background-contrast);
    box-shadow: var(--background-box-shadow);
    margin: 1rem;
    padding-bottom: 1rem;
  }
  .header_account {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    background-image: var(--background-image-contrast);
    color: var(--color-primary-text-contrast);
    .account_user {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      min-width: 20rem;
    }
    .account_avatar {
      width: 2rem;
      height: 2rem;
      border: 1px solid var(--color-primary-border);
      border-radius: 50%;
      padding: 0.3rem;
    }
    .account_name {
      padding-left: 1rem;
      font-size: (14/12)+rem;
      text-decoration: underline;
    }
    .account_address {
      opacity: var(--opacity-level-2);
      font-size: (14/12)+rem;
      white-space: nowrap;
      .account_address_icon {
        padding-right: 0.5em;
        font-size: (16/12)+rem;
      }
    }
  }
  .account_info {
    margin: 1rem;
    position: relative;
    z-index: 1;
    border-radius: 0.3rem;
    padding: 0.5rem 2%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color-primary-gray);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-background);
      z-index: -1;
      opacity: var(--opacity-level-3);
    }
  }
  .info_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary-border);
  }
  .info_item_box {
    padding: 1rem;
    width: (100% / 3);
  }
  .info_item_dl {
    background: var(--color-primary-background);
    border: 1px solid var(--color-primary-border);
    padding: 0.5rem 2rem;
  }
  .info_item_dt {
    font-size: (18/12)+rem;
    padding-bottom: 1rem;
    .info_item_small {
      font-size: 1rem;
    }
  }
  .info_item_dd {
    opacity: var(--opacity-level-1);
    padding-bottom: 0.5rem;
  }
  .pledge_nodes {
    display: flex;
    flex-wrap: wrap;
  }
  .pledge_node {
    width: (100%/3);
    padding: 1rem;
  }
  .pledge_node_selected {
    .pledge_node_inner {
      border-color: var(--color-primary);
      box-shadow: var(--primary-box-shadow);
      background: none;
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--color-primary);
        opacity: var(--opacity-level-3);
      }
    }
  }
  .pledge_node_inner {
    position: relative;
    z-index: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--color-primary-background);
    border: 1px solid var(--color-primary-border);
  }
  .pledge_node_header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-primary-border);
    padding: 0.5rem 0;
  }
  .node_avatar {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-primary-border);
    border-radius: 50%;
    padding: 0.3rem;
  }
  .node_name {
    padding-left: 1rem;
    font-size: (14/12)+rem;
    color: var(--color-primary-text);
    text-decoration: underline;
  }
  .pledge_node_info {
    display: flex;
    justify-content: space-between;
  }
  .pledge_node_dl {
    padding-top: 1rem;
    &:nth-child(1) {
      .pledge_node_dt {
        color: var(--color-primary-green);
      }
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
  .pledge_node_dt {
    font-size: (16/12)+rem;
  }
  .pledge_node_dd {
    opacity: var(--opacity-level-1);
  }

  .pledge_node_title {
    padding: 2rem 0 1rem 4rem;
    font-weight: bolder;
    font-size: (16/12)+rem;
    position: relative;
    &::before {
      content: '';
      width: 2.4rem;
      height: 0.8rem;
      background-image: url('../../../../assets/images/pledge_item.png');
      background-size: 100% 100%;
      position: absolute;
      top: 50%;
      left: 1rem;
    }
  }

  .pledge_footer {
    background: var(--color-primary-background);
    padding: 1rem 2rem;
    .pledge_footer_item {
      padding-left: 2rem;
      padding-bottom: 1rem;
      position: relative;
      .pledge_footer_span {
        opacity: var(--opacity-level-1);
      }
      &::before {
        content: '';
        width: 1.4rem;
        height: 0.5rem;
        background-image: url('../../../../assets/images/pledge_item.png');
        background-size: 100% 100%;
        position: absolute;
        top: 0.4rem;
        left: 0;
      }
    }
  }
  .transfer_confirm_button {
    margin: 1rem 0 2rem 1rem;
    width: 10rem;
  }

  
  @media (max-width: 1020px) {
    .pledge_node, .info_item_box {
      width: 50%;
    }
  }
  @media (max-width: 720px) {
    .pledge_node, .info_item_box {
      width: 100%;
    }
  }
}