.layout-header {
  &.layout-header-bg {
    background-color: var(--color-primary-background-contrast);
    box-shadow: var(--background-box-shadow);
  }
  .layout-header-inner {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: relative;
    z-index: 10;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
  }
  .layout-header-logo {
    width: (205/12)+rem;
    min-width: (205/12)+rem;
    height: 4.5rem;
  }
  .layout-header-menu {
    display: flex;
    align-items: center;
  }
  .layout-header-menu-ul {
    display: flex;
    align-items: center;
  }
  .layout-header-menu-list {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    font-size: (16/12)+rem;
    &>a {
      color: var(--color-primary-text);
    }
    .icon {
      font-size: 2rem;
    }
  }
  .layout-header-menu-language {
    margin-left: 2rem;
    width: 8rem;
  }
  .layout-header-phone {
    display: flex;
    align-items: center;
  }
  .layout-header-phone-create {
    position: relative;
    z-index: -5;
  }
  .layout-header-phone-change {
    background: none;
    padding: 0.5rem;
  }
  .layout-header-phone-icon {
    width: 2.7rem;
    font-size: 2rem;
  }
  .layout-header-phone-fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary-background);
    z-index: -1;
    animation: showIn 0.1s forwards;
    padding: 6rem 1rem 0;
    left: 100%;
    transition: left 0.1s;
    &.layout-header-phone-fix-show {
      left: 0%;      
    }
  }
  .layout-header-phone-accounts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    .control-button {
      width: 45%;
    }
    .layout-header-phone-sign {
      background: none;
      color: var(--color-text);
      border-color: var(--color-primary-text);
    }
  }
  .layout-header-phone-language {
    background: var(--color-primary-background-contrast);
    margin: 0 -1rem;
    padding: 0.5rem 1rem;
  }
  .layout-header-phone-language-title {
    opacity: var(--opacity-level-2);
    font-size: 0.8rem;
  }
  .layout-header-phone-options {
    padding: 0.5rem 0;
    background: none;
    display: block;
    font-size: 1.5rem;
    &.layout-header-phone-selected {
      color: var(--color-primary);
      font-weight: 900;
    }
  }
  @media (min-width: 720px) {
    .layout-header-phone {
      display: none;
    }
  }
  @media (max-width: 720px) {
    .layout-header-logo {
      width: (150/12)+rem;
      min-width: (160/12)+rem;
      height: 3.5rem;
    }
    .layout-header-pc {
      display: none;
    }
    .layout-header-menu-ul {
      flex-wrap: wrap;
    }
    .layout-header-menu-list {
      width: 100%;
      padding: 1rem 0;
      font-size: 1.5rem;
    }
  }
}

.layout-base {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.layout-base-fix {
  max-width: 1400px;
  margin: 0 auto;
}

.layout-footer {
  background-image: var(--background-image-contrast);
  color: var(--color-primary-text-contrast);
  .layout-footer-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .layout-footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .layout-footer-info {
    .layout-footer-logo {
      width: 20rem;
      padding: 1rem 0;
    }
    .layout-footer-language {
      opacity: var(--opacity-level-1);
      font-size: (14/12)+rem;
      padding-bottom: 2rem;
    }
    .layout-footer-button {
      background: none;
      color: var(--color-primary-text-contrast);
      &:hover {
        color: var(--color-primary);
        cursor: pointer;
      }
    }
    .layout-footer-text {
      padding-bottom: 2rem;
      opacity: var(--opacity-level-1);
    }
  }
  .layout-footer-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
    .layout-footer-list-title {
      font-size: (20/12)+rem;
      padding-bottom: (12/12)+rem;
    }
    .layout-footer-list-item {
      opacity: var(--opacity-level-1);
      font-size: (16/12)+rem;
      line-height: (48/12)+rem;
      a {
        color: var(--color-primary-text-contrast);
      }
    }
    .layout-footer-list-more {
      a {
        color: var(--color-primary-text-contrast);
      }
    }
  }
  .layout-friends-dl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    opacity: var(--opacity-level-1);
    &::before {
      content: '';
      display: block;
      background: var(--color-primary-background);
      height: 1px;
      width: 100%;
      opacity: var(--opacity-level-2);
      margin-bottom: 1rem;
    }
    .layout-friends-dt {
      font-size: (14/12)+rem;
      padding: 0 1rem;
    }
    .layout-friends-dd {
      display: flex;
      flex-wrap: wrap;
      .layout-friends-img {
        width: 8rem;
        height: 2.2rem;
        margin: 0.5rem 1rem;
      }
    }
  }
  @media (max-width: 640px) {
    .layout-footer-inner {
      padding: 0 1rem;
    }
    .layout-footer-lists {
      width: 100%;
    }
  }
  @media (min-width: 640px) {
    .layout-footer-lists {
      width: 30rem;
    }
  }
}

.layout-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  height: auto;
  z-index: -1;
}