.page_wallet_transaction {
  .transaction_inner {
    background-color: var(--color-primary-background-contrast);
    box-shadow: var(--background-box-shadow);
    margin: 1rem;
  }
  .page_wallet_title {
    padding: 1rem;
    color: var(--color-primary-text-contrast);
    background-image: var(--background-image-contrast);
    font-size: (16/12)+rem;
  }
  .transaction_box {
    padding: 1rem;
  }
  .transaction_box_title {
    padding: 1rem 0 0.5rem;
  }
  .transaction_box_label {
    display: flex;
    width: 50rem;
    max-width: 100%;
    position: relative;
    align-items: center;
  }
  .transaction_box_input {
    border: 1px solid var(--color-primary-border);
    background: var(--color-primary-background);
    line-height: 2em;
    padding: 0.3em 0.5em;
    flex: 1.5rem;
  }
  .transaction_box_info {
    position: absolute;
    top: 50%;
    right: 0.5em;
    opacity: var(--opacity-level-2);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: -1rem;
  }
  .transaction_box_forget {
    color: var(--color-primary-gray);
    padding: 0 0 0 1rem;
  }
  .transaction_confirm_button {
    margin-top: 2rem;
    width: 10rem;
  }
  .transaction_box_tip {
    padding: 0.5rem 0;
    color: var(--color-primary-gray);
  }
  .transaction_tip_primary {
    padding: 0 1rem;
    color: var(--color-primary);
  }
  .transaction_tip_button {
    background: none;
    color: var(--color-primary);
    cursor: pointer;
  }
}