@media (max-width: 640px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1007px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1008px) {
  html {
    font-size: 12px;
  }
}


@keyframes showHide {
  0% {
    left: -100%;
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
    display: none;
  }
}
.change-language-shadow {
  background-color: var(--color-primary-background);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  animation: showHide 1s linear forwards;
  box-shadow: 0 0 50px 50px var(--color-primary-background);
}