html {
  --color-primary: #1da390;
  --color-primary-text: #272727;
  --color-primary-text-contrast: #f7f8f9;
  --color-primary-background: #fafafa;
  --color-primary-background-contrast: #ffffff;
  --color-primary-success: #248f80;
  --color-primary-error: #cb2430;
  --color-primary-info: #f4f5f8;
  --color-primary-green: #00b464;
  --color-primary-red: #cb2430;
  --color-primary-gray: #bdc1ca;
  --color-primary-border: #e8ebf2;
  --opacity-level-0: 0.9;
  --opacity-level-1: 0.7;
  --opacity-level-2: 0.4;
  --opacity-level-3: 0.1;
  --background-image-contrast: linear-gradient(#082e42, #081326);
  --background-box-shadow: 0 0 1rem 0.1rem rgba(244, 245, 248, 0.6);
  --primary-box-shadow: 0 0 1rem 0.1rem rgba(29, 163, 144, 0.3);
}