html body {
  --color-primary: #1da390;
  --color-primary-text: #081529;
  --color-primary-text-contrast: #f7f8f9;
  --color-primary-background: #f9fafa;
  --color-primary-background-contrast: #f4f5f8;
  --color-primary-success: #248f80;
  --color-primary-error: #cb2430;
  --color-primary-info: #f4f5f8;
  --color-primary-canvas-green: #00b464;
  --color-primary-canvas-red: #cb2430;
  --opacity-level-0: 0.9;
  --opacity-level-1: 0.7;
  --opacity-level-2: 0.4;
  --opacity-level-3: 0.1;
  --background-image-contrast: linear-gradient(#082e42, #081326);
}