
  @keyframes inputAlert {
    0% {
      transform: translateY(-100%);
      opacity: var(--opacity-level-3);
    }
    100% {
      transform: translateY(0%);
      opacity: var(--opacity-level-0);
    }
  }
  @keyframes outputAlert {
    0% {
      transform: translateY(0%);
      opacity: var(--opacity-level-0);
    }
    100% {
      transform: translateY(-100%);
      opacity: var(--opacity-level-3);
    }
  }
#com-use-alert-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  .com-con-tool-alert {
    width: 70rem;
    max-width: 95%;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--background-box-shadow);
    animation: inputAlert 0.4s;
    position: relative;
    overflow: hidden;
    &.com-con-tool-alert-close {
      animation: outputAlert 0.4s;
    }
    &.com-con-tool-alert-info {
      background: var(--color-alert-background-info);
      border: 1px solid var(--color-alert-border-info);
    }
    &.com-con-tool-alert-error {
      background: var(--color-alert-background-error);
      border: 1px solid var(--color-alert-border-error);
    }
    &.com-con-tool-alert-warning {
      background: var(--color-alert-background-warning);
      border: 1px solid var(--color-alert-border-warning);
    }
    &.com-con-tool-alert-success {
      background: var(--color-alert-background-info);
      border: 1px solid var(--color-alert-border-info);
    }
    .com-tool-alert-message {
      font-size: 1rem;
      padding: 0;
    }
    .com-tool-alert-close {
      background: none;
      position: absolute;
      top: 50%;
      right: 0;
      height: 2rem;
      margin-top: -1rem;
      font-size: 0.9rem;
      padding: 0 1rem;
    }
  }
}

#com-use-confirm-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: var(--opacity-level-2);
    background: var(--color-primary-background);
    z-index: -1;
  }
  &.com-use-confirm-show {
    display: flex;
  }
  .com-con-tool-confirm {
    overflow: hidden;
    border-radius: 0.4rem;
    max-width: 80%;
    background: var(--color-primary-background);
    border: 1px solid var(--color-primary-border);
    animation: inputAlert 0.4s;
    position: relative;
    .confirm-password {
      border: 1px solid var(--color-primary-border);
      height: 2em;
      font-size: 1.4rem;
    }
    &.com-con-tool-confirm-close {
      animation: outputAlert 0.4s;
    }
    .com-tool-alert-close {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      padding: 0.3rem;
      opacity: var(--opacity-level-2);
      cursor: pointer;
    }
    .com-tool-confirm-message {
      padding: 1.5rem 2rem 1rem;
      font-size: 1.1rem;
    }
    .com-tool-confirm-buttons {
      display: flex;
      .com-confirm-close, .com-confirm-success {
        flex: 1;
        padding: 0.6rem 0;
        font-size: 1.2rem;
        min-width: 8rem;
        cursor: pointer;
      }
      .com-confirm-close {
        background: none;
        border-top: 1px dashed var(--color-primary-border);
      }
      .com-confirm-success {
        background: var(--color-primary);
        color: var(--color-primary-text-contrast);
      }
      .com-confirm-other {
        flex: 1;
        padding: 0.6rem 0;
        font-size: 1.2rem;
        min-width: 8rem;
        cursor: pointer;
        border: 1px solid var(--color-primary-border);
        color: var(--color-primary-text-contrast);
        background: var(--color-primary);
      }
    }
  }
}