.page_wallet_receive {
  .receive_inner {
    background-color: var(--color-primary-background-contrast);
    box-shadow: var(--background-box-shadow);
    margin: 1rem;
  }
  .page_wallet_title {
    padding: 1rem;
    color: var(--color-primary-text-contrast);
    background-image: var(--background-image-contrast);
    font-size: (16/12)+rem;
  }
  .receive_box {
    padding: 1rem;
  }
  .receive_tips {
    border-bottom: 1px solid var(--color-primary-border);
    display: flex;
    flex-wrap: wrap;
  }
  .receive_tip_dl {
    width: 50%;
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
  }
  .receive_tip_dt {
    min-width: 10rem;
    white-space: nowrap;
    opacity: var(--opacity-level-1);
  }
  .receive_tip_dd {
    font-size: 1.2em;
  }
  .receive_box_title {
    padding: 1rem 0 0.5rem;
  }
  .receive_box_label {
    display: flex;
    width: 50rem;
    max-width: 100%;
    position: relative;
    align-items: center;
  }
  .receive_box_input {
    border: 1px solid var(--color-primary-border);
    background: var(--color-primary-background);
    line-height: 2em;
    padding: 0.3em 0.5em;
    flex: 1.5rem;
  }
  .receive_box_info {
    position: absolute;
    top: 50%;
    right: 0.5em;
    opacity: var(--opacity-level-2);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: -1rem;
  }
  .receive_confirm_button {
    margin-top: 2rem;
    width: 10rem;
  }
  .receive_content {
    background-color: var(--color-primary-background-contrast);
    margin: 1rem;
    padding: 0 1rem;
    .receive_title {
      padding: 1rem;
      font-size: (16/12)+rem;
      border-bottom: 1px solid var(--color-primary-background);
    }
  }
  @media (max-width: 720px) {
    .receive_tip_dl {
      width: 100%;
    }
  }
}