.control-logo {
  position: relative;
  .control-logo-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .control-logo-img {
    width: 100%;
    height: auto;
    display: inline-block;
  } 
}
.control-button {
  background: var(--color-primary);
  color: var(--color-primary-info);
  font-size: (14/12)+rem;
  border-radius: 0.4rem;
  padding: (6/12)+rem (10/12)+rem;
  border: 1px solid var(--color-primary-info);
  cursor: pointer;
  position: relative;
  &.control-button-contrast {
    background: var(--color-primary-background);
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
  &:active {
    transform: translateY(1px);
  }
  &.control-button-disabled {
    cursor: wait;
  }
  &.control-button-disabled:active {
    transform: none;
  }
}
.control-select {
  position: relative;
  .control-select-select {
    background: none;
    display: flex;
    align-items: center;
  }
  .control-select-icon {
    width: 1.4rem;
    padding-left: 0.3rem;
  }
  .control-select-options {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: var(--color-primary-info);
    &.control-select-options-hide {
      display: none;
    }
    .control-select-option {
      padding: 0.2rem;
      background: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
.control-table-box {
  position: relative;
}
.control-table-inner {
  overflow-x: auto;
}
.control-table {
  width: 100%;
  min-width: (1000/12)+rem;
  .control-thead {
    background: var(--color-primary-background);
    .control-td {
      opacity: var(--opacity-level-2);
      white-space: nowrap;
    }
  }
  .control-tbody {
    .control-td {
      border-bottom: 1px solid var(--color-primary-background);
      white-space: nowrap;
    }
  }
  .control-td {
    text-align: center;
    height: (58/12)+rem;
    padding: 0 1rem;
    font-size: (14/12)+rem;
    .a_link {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 15rem;
    }
    .a_link_no {
      @extend .a_link;
      cursor: pointer;
      color: var(--color-text-color);
      opacity: var(--opacity-level-1);
    }
    a {
      color: var(--color-primary);
      cursor: pointer;
    }
    &:nth-child(1) {
      text-align: left;
    }
    &:nth-last-child(1) {
      text-align: right;
    }
  }
}
.control-table-tools {
  padding: 2rem 0.5rem 1rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  display: none;
  &.control-table-tools-show {
    display: flex;
  }
}
.control-table-tabs {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}
.control-table-options {
  padding: 0.3rem 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  background: var(--color-primary-info);
  font-size: (16/12)+rem;
  border-radius: 0.2rem;
  &.control-table-selected {
    color: var(--color-primary-text-contrast);
    background-color: var(--color-primary);
  }
}
.control-table-more {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  opacity: var(--opacity-level-2);
}
.control-table-goto {
  padding: 1rem 0;
}
.control-table-goto-button {
  background: none;
  padding: 0.5rem;
  margin-left: 2rem;
  cursor: pointer;
  opacity: var(--opacity-level-1);
  &:hover {
    opacity: 1;
  }
}
.control-table-goto-input {
  width: 3rem;
  background: var(--color-primary-background);
  border: 1px solid var(--color-primary-gray);
  height: 2.4rem;
  text-align: center;
}

@keyframes loadingAnimate {
  0% {
    opacity: var(--opacity-level-0);
  }
  100% {
    opacity: var(--opacity-level-1);
  }
}
@keyframes loadingInnerAnimate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
.com-con-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: var(--color-primary-background);
  animation: loadingAnimate 1s ease-in-out alternate infinite;
  .com-con-loading-inner {
    width: 30px;
    height: 30px;
    border: 5px solid var(--color-alert-border-success);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    animation: loadingInnerAnimate 2s ease-in-out infinite;
    box-sizing: border-box;
    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      border: 5px solid var(--color-alert-border-error);
      border-radius: 100%;
      top: 50%;
      left: 50%;
      margin-top: -5px;
      margin-left: -5px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border: 5px solid var(--color-alert-border-warning);
      border-radius: 100%;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -10px;
    }
  }
  .com-con-loading-shadow {
    position: absolute;
    background-color: var(--color-primary-background);
    border-radius: 100%;
    &:nth-child(1) {
      width: 30px;
      height: 4px;
      top: 50%;
      margin-top: -2px;
      left: -5px;
    }
    &:nth-child(2) {
      width: 4px;
      height: 30px;
      top: -5px;
      left: 50%;
      margin-left: -2px;
    }
  }
}

@media (max-width: 720) {
  .control-table-options {
    font-size: (14/12)+rem;
  }
}